# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
.venv/
.env/
.env.*
.env
# =========================
# Editor / IDE
# =========================
.vscode/
.idea/
streamlink-docs/
docs/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

